.banner__inner {
  display: grid;
  gap: 24px;
  align-items: center;
  margin: 24px;
}

.banner__media img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 900px) {
  .banner__inner {
    grid-template-columns: 1.2fr 1fr;
  }
}
